@font-face {
  font-family: 'NHG';
  src:  url('./../fonts/NHaasGroteskTXStd-55Rg.woff2') format('woff2'),
        url('./../fonts/NHaasGroteskTXStd-55Rg.woff') format('woff');
}
@font-face {
  font-family: 'NHG-DM';
  src:  url('./../fonts/NHaasGroteskDSStd-65Md.woff2') format('woff2'),
        url('./../fonts/NHaasGroteskDSStd-65Md.woff') format('woff');
}
