// colors
$background-color: #ffffff;
$color: #000000;
$search-area-color: #767676;
$table-border-color: #000000;
$highlight-color: #ededed;

// fonts
$font: NHG;
$title-font: NHG-DM;

// font-sizes
$base-font-size: .85rem;
$title-font-size: 2rem;
$search-area-font-size: .7rem;
