.header {
  width: 100%;
  height: auto;
  background-color: $background-color;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__site-title {
    margin: 1rem 1.5rem 1rem 1rem;
    font-family: $title-font;
    font-size: $title-font-size;
  }

  &__search-area--wrapper {
    min-width: 17.5rem;
    display: flex;
    align-items: center;

    margin: 1rem 1rem 1rem 1.5rem;
    color: $search-area-color;
    font-size: $search-area-font-size;
  }

  &__search-area {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.ais-StateResults {
  margin-right: .5rem;
}

.ais-SearchBox {
  &-submit, &-reset, &-loadingIndicator {
    display: none;
  }

  &-form > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  
    width: 180px;
    height: 1.475rem;
    padding: .125rem .25rem;
  
    border: 1px solid $color;
    border-radius: .15rem;
    
    font-size: $base-font-size;

    &::placeholder {
      color: $search-area-color;
      opacity: 1;
    }
  
    &:focus {
      outline: none;
    }
  }
}